<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editable Table with DataTables</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>
<body>

    <div class="container mt-5">
        <table id="tblCheckMove" class="display">
            <thead>
                <tr>
                    <th>Check ID</th>
                    <th>Product Name</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td id="checkProductName0">Product A</td>
                    <td id="dvTxtCheckMove0"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td id="checkProductName1">Product B</td>
                    <td id="dvTxtCheckMove1"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td id="checkProductName2">Product C</td>
                    <td id="dvTxtCheckMove2"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td id="checkProductName3">Product D</td>
                    <td id="dvTxtCheckMove3"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td id="checkProductName4">Product E</td>
                    <td id="dvTxtCheckMove4"></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td id="checkProductName5">Product F</td>
                    <td id="dvTxtCheckMove5"></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td id="checkProductName6">Product G</td>
                    <td id="dvTxtCheckMove6"></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td id="checkProductName7">Product H</td>
                    <td id="dvTxtCheckMove7"></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td id="checkProductName8">Product I</td>
                    <td id="dvTxtCheckMove8"></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td id="checkProductName9">Product J</td>
                    <td id="dvTxtCheckMove9"></td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

    <script>
        var oldInput = -1;

        $(document).ready(function () {
            $('#tblCheckMove').DataTable();

            $(document).on('click', '#tblCheckMove td', function () {
                debugger
                checkSearchCheckMove = true;

                var table = $('#tblCheckMove').DataTable();
                var rowIndex = table.row($(this).parents('tr')).index();
                var rowData = table.row($(this).parents('tr')).data();

                if ($("#dvTxtCheckMove" + rowIndex).attr("data-input") != "true") {
                    debugger
                    var html = `<div class="d-flex">
                          <select class='form-control' style="height: 40px !important;" id="selCheckMove${rowIndex}">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <option value="Option3">Option 3</option>
                </select>
                        <button type="button" class="btn btn-danger ml-2 mr-2" style="width: 75px; height: 40px !important; padding: 5px 10px;" id="btnDeleteInput${rowIndex}" onclick="deleteInput(${rowIndex})"><i class="fa fa-times m-0" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-success" style="width: 75px; height: 40px !important; padding: 5px 10px;" id="btnSaveInput${rowIndex}" onclick="saveInput(${rowIndex}, '${rowData[0]}')"><i class="fa fa-check m-0" aria-hidden="true"></i></button>
                    </div>`;

                    if (oldInput >= 0) {
                        debugger
                        deleteInput(oldInput);
                    }

                    $("#dvTxtCheckMove" + rowIndex).attr("data-input", "true");
                    $("#dvTxtCheckMove" + rowIndex).append(html);
                    oldInput = rowIndex;
                }
                 $(this).closest('tr').find('td:eq(1)').hide(); // Hide the second cell (Product Name) in the row
  
               // $("#checkProductName" + rowIndex).hide();
            });
        });

        function deleteInput(rowIndex) {
            debugger
            $("#dvTxtCheckMove" + rowIndex).attr("data-input", "false").empty();
            //$("#checkProductName" + rowIndex).show();
            $("#tblCheckMove").find('tr').eq(rowIndex + 1).find('td:eq(1)').show(); // Show the second cell (Product Name) in the row

            oldInput = -1;
        }

        function saveInput(rowIndex, checkId) {
            debugger
            var inputValue = $("#txtCheckMove" + rowIndex).val();
            console.log("Saving input:", inputValue, "for Check ID:", checkId);

            // Handle saving input value here (e.g., AJAX request to the server)
            deleteInput(rowIndex);
        }
    </script>

</body>
</html>
