@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style type="text/css">
        body {
          height:100vh;
       justify-content:center;
            overflow: hidden;
            
        }
        .imgShow {
            border-radius: 10%;
        }
        #frmLogin {
            height: calc(100vh - 107px);
            display: flex;
            justify-content: center;
            align-items:center;
            margin: auto;
        }
    </style>
}
<partial name="~/Views/Home/Privacy.cshtml" />

<form id="frmLogin">
    <div class="container">
        <div class="row">

            <div class="col-6 d-flex flex-row justify-content-center align-items-center pt-5">
                <img src="~/picture/Japan-2107x1406.jpg" class="imgShow" width="500" height="500" />
            </div>

            <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                @*<h3 id="loginTitle">Log in</h3>
        <input type="email" class="form-control" id="emailInput" placeholder="Enter your Email" />
        <input type="password" class="form-control" id="passwordInput" placeholder="Enter your Password" />
        <button type="submit" class="btn btn-primary" id="btnLogin">Log in</button>*@
                <h3 id="loginTitle" data-i18n="login.title">Log in</h3>
                <div class="form-group mb-4">
                    <input type="email" class="form-control" id="txtEmail" placeholder="Enter your Email" />
                </div>

                <div class="form-group mb-2">
                    <input type="password" class="form-control" id="txtPassword" placeholder="Enter your Password" />

                </div>
                <span id="txtErrorLogin" class="mb-2" style="display:none; color:red;">กรุณาใส่ข้อมูลให้ถูกต้อง</span>
                <div class="form-group mb-4">
                    <button type="submit" class="btn btn-primary" id="btnLogin">Log in</button>
                    <a href="#">Forgot Password?</a>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts{
    <!-- i18n plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.9/jquery.i18n.min.js" integrity="sha512-EkS8Kq86l7dHt/dOBniHgtYvAScDqFw/lIPX5VCwaVKsufs0pY44I2cguqZ45QaFOGGwVd3T1nXvVJYIEjRsjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">


        jQuery(document).ajaxStart(function () {
            
            jQuery('div.dv-animation').show();
        });

        jQuery(document).ajaxStop(function () {
            // jQuery('div.theme-loader').fadeOut('slow');
            jQuery('div.dv-animation').fadeOut('slow');
        });

        $(document).ready(function () {
            // or wherever you store the token
            jQuery('div.dv-animation').fadeOut('slow');
        });

        //$('.Layout').hide();

        $('#frmLogin').validate({
            rules: {

            },
            messages: {

            },
            errorPlacement: function (error, element) {

            },

            submitHandler: function (form) {
                debugger
                var userName = $('#txtEmail').val();

                var formData = {

                    Email: $('#txtEmail').val(),
                    Password: $('#txtPassword').val(),

                };

                $.ajax
                    ({
                        type: 'POST',
                        url: "/Authen/Login1",
                        data: formData,
                        dataType: 'json',
                        success: function (result) {
        debugger
                            if (result.status == "S") {
                                SweetAlert('success', userName);
                                localStorage.setItem('access_token', result.message);
                                var token = localStorage.getItem('access_token');
                                window.location.href = "https://localhost:7166/Shipment/SearchShipmentPage";

                                /*    bindingTable(result.Data);*/
                            }
                            else {
                                jQuery('div.theme-loader').fadeOut('slow');
                                /*  SweetAlert('error', 'กรุณาใส่ข้อมูลให้ถูกต้อง');*/
                                $('#txtErrorLogin').text(result.message);
                                $('#txtErrorLogin').show();
                            }
                        },
                        error: function (request, status, error) {
                            jQuery('div.theme-loader').fadeOut('slow');
                            SweetAlert('error', error);
                        }
                    });
                $(".swal2-confirm").addClass('btn-swal-success');
                $(".swal2-cancel").addClass('btn-swal-secondary');
            }
        });
    </script>
}

