@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_PostLayout.cshtml";
}
@section Styles{
    <style type="text/css">

        .imgShow {
            border-radius: 10%;
        }
    </style>
}

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-6 d-flex flex-row justify-content-center align-items-center">
            <img src="~/picture/Japan-2107x1406.jpg" class="imgShow" width="500" height="500" />
        </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center px-5">

            <h3>Sign Up</h3>

            <form id="frmRegister">
                <div class="form-group mb-4">
                    <input type="email" class="form-control" id="emailInput" placeholder="Enter your Email" />
                </div>

                <div class="form-group mb-4">
                    <input type="password" class="form-control" id="passwordInput" placeholder="Enter your Password" />
                </div>
                <div class="form-group mb-4">
                    <input type="password" class="form-control" id="passwordConfirmInput" placeholder="Confirm your Password" />
                </div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control" id="txtName" name="Name" placeholder="Your Name" />
                </div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control" id="txtAge" name="Age" placeholder="Your Age" />
                </div>

                <div class="form-group mb-4">
                    <button type="button" class="btn btn-primary" id="btnSignUp">Sign Up</button>

                </div>
            </form>
        </div>

    </div>
</div>



@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {




        });

        $('#btnSignUp').click(function () {

        debugger

            var formData = {
                Name: $('#txtName').val(),
                Age: $('#txtAge').val()
            };
            $.ajax({
                url: '@Url.Action("CreateUser", "Admin")' ,
                type: 'POST',
                data: formData,            
                success: function (data) {
                    debugger
                    if (data.length > 0) {




                    }
                    else {
                        SweetAlert('error', 'ไม่มีข้อมูล');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
      
    </script>
}

