@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project123</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/datetimepicker/css/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project123.styles.css" asp-append-version="true" />
    <link href="~/lib/dataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Thai' rel='stylesheet'>

    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <style>

        html body{
            margin: 0;
            height:100vh;
            width:100vw;
            overflow:hidden;
            background-color:#f6f0f0
        }
        .logo-img-size{
            position:absolute;
            width:50vw;
            left:0;
            z-index:-1
        } 
        .bottom-img-size{
            position:absolute;
            width:50vw;
            bottom:0;
            left:25%;
            z-index:-1
        }
        .content{
            height:100vh;
            display:flex;
            justify-content:center;
            align-items:center;
            z-index:2;
        }
        .login-header {
            text-align:center;
            color: #182F62;
            font-weight: bold;
            line-height: 50px !important;
        }
        .form-login{
            max-width:35rem;
            background-color:white;
            padding:20px;
        }
        .fontLogin {
            font-size: 39px;
            font-family: "Selima";
        }
        .margin-bottom{
            margin-bottom:15px;
        }
        #btnLogin {
            background-color: #199BE0;
            color: white;
            padding: 1rem;
        }
         
    </style>
</head>
<body>

    <img src="~/picture/Group 164.png" class="logo-img-size" />
    <img src="~/picture/Group 165.png" class="bottom-img-size" />
    <div class="content">
        <div class=" row">
            <div class="col-12 form-login ">
                <h1 class="login-header" style="font-size:33px;">Stock Inventory</h1>
                <h1 class="login-header fontLogin" id="">management</h1>

                <div class="form-group form-primary margin-bottom">
                    <div class="col-sm-12 padding-col">
                        <input type="text" id="txtUserName" class="form-control form-control-lg" placeholder="ชื่อผู้ใช้">
                    </div>
                </div>

                <div class="form-group form-primary " style="margin-bottom:40px">
                    <div class="col-sm-12 padding-col">
                        <input type="password" id="txtPassword" class="form-control form-control-lg" placeholder="รหัสผ่าน">
                        <div class="custom-input-group">
                            <i class="fa fa-eye-slash" id="togglePassword" style="left: auto; right: 20px;"></i>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 padding-col">
                    <button style="border-radius: 5px;width:100% !important;" id="btnLogin" class="btn  btn-square">เข้าสู่ระบบ</button>
                </div>
            </div>
        </div>
    </div>













    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <script src="~/lib/datetimepicker/js/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <script>
     

    </script>

</body>
</html>

