@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_PostLayout.cshtml";
}

@section Styles{
    <style type="text/css">

        .music-player {
            background-color: #f0f4f8;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
}

<div class="music-player">
    <div class="card music-player-card">
        <div class="music-player-header">
            <h1>ADAMAS!!!</h1>
        </div>
        <div class="">

        </div>
    </div>
</div>


@section Scripts{ 
    <script type="text/javascript">

    </script>
}