@{
    Layout = null;
}
<style>
 /*    styles.css */

    body {
    /*    display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color:white;*/
    }

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s  infinite;
        
        
    }
      .dv-animation{
   display: flex;
 justify-content: center;
 align-items: center;
 flex-direction:column;
 height: 100vh;
 margin: 0;
 font-family: Arial, sans-serif;
 background-color:white;
 overflow:hidden;
 z-index:1;

    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }
     

        100% {
            transform: rotate(360deg);
        }
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Animation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
 

    <div class="dv-animation">
        <div id="loader" class="loader">

        </div>
        @*<h1 id="loadingAnimation">Loading Animation!</h1>*@
    </div>

    <div id="content" style="display: none;">
        <h1>Content Loaded!</h1>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
</body>
</html>

@*<script>
    // script.js
    $(document).ready(function () {
  
        // Simulate an AJAX call
        setTimeout(function () {
            // Hide the loader
            $('#loader').hide();

            //$('#loadingAnimation').hide();
            // Show the content
            $('#content').show();
        }, 3000); // Adjust the time as needed to simulate loading time

        

     

       
    });

</script>*@

