<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player with AJAX Navigation</title>
    @*<link rel="stylesheet" href="styles.css">*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Thai' rel='stylesheet'>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>

        .dvflex {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
        #dvContent {
          height:570px;
            width: 610px;
            margin: auto;
            background-color: #d1d1d1;
            padding: 0 60px;
        }
        #dvImg{
            height:100px;
            /*margin-top:60px;*/
        }
        #dvCard{

            margin-top:40px;
            background-color:white;
            width:100%;
            /*border-radius:20px;*/
        }

        
    </style>

</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="container">
        <div class="row p-1">
            <div class="col-1">User</div>
            <div class="col-5"><input type="text" id="userInput" /></div>
        </div>
        <div class="row p-1">
            <div class="col-1">Message</div>
            <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <hr />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.11/signalr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/notificationHub").build();

        // Disable the send button until connection is established.
        $("#sendButton").prop("disabled", true);



        // We can assign user-supplied strings to an element's textContent because it
        // is not interpreted as markup. If you're assigning in any other way, you
        // should be aware of possible script injection concerns.
        connection.on("ReceiveNotification", function (user, message) {
            debugger
            var li = $("<li>").text(`${user} says ${message}`);
            $("#messagesList").append(li);
        });

        connection.start().then(function () {
            $("#sendButton").prop("disabled", false);
        }).catch(function (err) {
            console.error(err.toString());
        });

        $("#sendButton").on("click", function (event) {
            
            var user = $("#userInput").val();
            var message = $("#messageInput").val();
            connection.invoke("SendNotification", user, message).catch(function (err) {
                console.error(err.toString());
            });
            event.preventDefault();
        });


    </script>
</body>
</html>
