<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player with AJAX Navigation</title>
    @*<link rel="stylesheet" href="styles.css">*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Thai' rel='stylesheet'>

    <style>

        .dvflex {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
        #dvContent {
          height:570px;
            width: 610px;
            margin: auto;
            background-color: #d1d1d1;
            padding: 0 60px;
        }
        #dvImg{
            height:100px;
            /*margin-top:60px;*/
        }
        #dvCard{

            margin-top:40px;
            background-color:white;
            width:100%;
            /*border-radius:20px;*/
        }

        
    </style>

</head>
<body>
    <div class="dvflex" id="dvContent">

        <div class="" id="dvImg">
           
            <img src="~/picture/box.png" style="width:80px;height:80px;"alt="logo" />

        </div>
        <h1>การขอเปลี่ยนรหัสผ่าน</h1>
        <span style="margin-top:10px;">
            เราได้รับคำขอเปลี่ยนรหัสผ่านสำหรับบัญชี <b>Project123</b> ของคุณแล้ว
            ลิงก์นี้จะหมดอายุใน <b>24 ชั่วโมง</b> หากคุณไม่ได้ร้องขอการเปลี่ยนรหัสผ่าน โปรดละเว้นอีเมลฉบับนี้ บัญชีของคุณจะไม่มีการเปลี่ยนแปลงใดๆ ผู้เล่นคนอื่นอาจป้อนชื่อผู้ใช้ของคุณโดยไม่ได้ตั้งใจ
        </span>

        <div class="dvflex" id="dvCard">

            <h1>hello</h1>

            <a href="" target="_blank">https://localhost:7166/Admin/ResetPassword?token=7a9a7152-4c9a-45e6-a906-dba40665ebef</a>



        </div>
        </div>
    
       
</body>
</html>
