
<h1 id="h1Album"></h1>

<div class="col-12" id="dvTableSongAlbum" style="display:none">
    <table id="tblDataTableSongAlbum" class="table table-bordered" width="100%">
        <thead>
            <tr class=" ">

                <th>#</th>
                <th>Title</th>
                <th>Artist</th>           
                <th>Duration</th>
                <th>Genres</th>


            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<button type="button" id="btnCancel" class="btn btn-secondary m-2 px-4 ">ยกเลิก</button>