<form id="songEditForm">
    <input type="text" id="txtSongAlbumIdEdit" placeholder="Album ID">
    <input type="text" id="txtSongArtistEdit" placeholder="Artist Name">
    <input type="text" id="txtSongNameEdit" placeholder="Song Name">
    <input type="file" id="fileSongFileEdit" placeholder="File URL">
    <audio id="audiocontrolPreviewEdit" controls style="display: none;">
        <source id="songAudioPreviewEdit" src="#" type="audio/mp3" />
        Your browser does not support this audio element
    </audio>
    <p id="durationEdit"></p>
    <input type="number" id="durationInputEdit" placeholder="Duration input" hidden>
    <input type="text" id="txtSongGenresEdit" placeholder="Genres">
    <input type="file" id="fileSongImageEdit" placeholder="Song Image URL">
    <img id="songImagePreviewEdit" src="#" alt="Song Image Preview" style="display: none; width: 168px; height: 168px;" />
    <button type="button" id="btnCancelEdit" class="btn btn-secondary">Cancel</button>
    <button type="button" onclick="EditSongSave()">Save</button>
</form>

<script>
    var audioControlEdit = $('#audiocontrolPreviewEdit')[0];
    var audioDurationElementEdit = $('#durationEdit');
    var durationEdit;

    $('#fileSongFileEdit').change(function (e) {
        var file = e.target.files[0];
        var url = URL.createObjectURL(file);

        $(audioControlEdit).on('loadedmetadata', function () {
            durationEdit = audioControlEdit.duration;
            var minutes = Math.floor(durationEdit / 60);
            var seconds = Math.floor(durationEdit % 60);
            var formattedSeconds = seconds < 10 ? '0' + seconds : seconds;
            audioDurationElementEdit.text('Duration: ' + minutes + ':' + formattedSeconds);
            $('#durationInputEdit').val(parseInt(durationEdit));
        });

        if ($('#fileSongFileEdit').val() != null) {
            $('#songAudioPreviewEdit').attr('src', url);
        } else {
            $('#songAudioPreviewEdit').removeAttr('src');
        }
        audioControlEdit.load();
        $('#audiocontrolPreviewEdit').show();
    });

    $('#fileSongImageEdit').change(function () {
        showPreview(this, '#songImagePreviewEdit', 'image');
    });

    $('#btnCancelEdit').click(function () {
        $(".nav button#homeTab").tab('show');
    });

    function EditSongSave() {
        if (!durationEdit) {
            alert("Please wait until the audio duration is loaded.");
            return;
        }

        var formData = new FormData();
        formData.append("AlbumId", $("#txtSongAlbumIdEdit").val());
        formData.append("ArtistName", $("#txtSongArtistEdit").val());
        formData.append("SongName", $("#txtSongNameEdit").val());
        formData.append("SongFile", $("#fileSongFileEdit")[0].files[0]);
        formData.append("SongGenres", $("#txtSongGenresEdit").val());
        formData.append("SongImage", $("#fileSongImageEdit")[0].files[0]);
        formData.append("SongLength", $('#durationInputEdit').val());

        console.log(durationEdit);

        // $.ajax({
        //     url: '@Url.Action("EditSong1", "Spot")',
        //     contentType: false,
        //     type: 'POST',
        //     processData: false,
        //     data: formData,
        //     success: function (result) {
        //         alert('Edit saved successfully');
        //     },
        //     error: function (error) {
        //         console.error(error);
        //     }
        // });
    }

    function showPreview(input, previewElementSelector, type) {
        var file = input.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            $(previewElementSelector).attr('src', e.target.result).show();
        }

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
