<form id="albumSongForm">
    <h1 id="h1Album"></h1>

    <div class="col-12" id="dvTableSongAlbum" style="display:none">
        <table id="tblDataTableSongAlbum" class="table table-bordered" width="100%">
            <thead>
                <tr class="text-center">

                    <th>#</th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Duration</th>
                    <th>Genres</th>
                    <th>Remove</th>


                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    </form>
    <button type="button" id="btnCancel" class="btn btn-secondary m-2 px-4 " onclick="clearAlbumValue()">ยกเลิก</button>


    <form id="albumArtistSongForm">

        <div class="col-12" id="dvSearchArtistSongAlbum" style="display:none">
            <table id="tblDataTableSearchArtistSongAlbum" class="table table-bordered" width="100%">
                <thead>
                    <tr class="text-center">
                        <th>AddSong</th>
                        <th>#</th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Duration</th>
                        <th>Genres</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </form>
