@{
    Layout = "~/Views/Shared/_SpotLayout.cshtml";
}
@section Styles{
    <style type="text/css">
        .content {
            border-radius: 20px;
            height: 100vh;
        }

        .main-content {
            background-color: #0e0d0d;
            margin-right: 10px;
            padding: 15px;
            background-image: linear-gradient(#762676a8, #0e0d0d);
            overflow-y: auto;
        }

        .aside {
            display: flex;
            background-color: #262626;
            padding: 15px;
            overflow-y: auto;
            color: white;
        }

        .main-content-music {
            margin-top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .music-content {
            padding-top: 12px;
            display: flex !important;
            justify-content: center;
            align-content: space-between;
            flex-direction: column;
        }

        .music-content-title {
            align-items: baseline !important;
        }

        .img-music-content,
        .img-aside {
            display: flex !important;
            justify-content: center;
            width: 100%;
            height: auto;
            max-width: 205px;
        }

        .img-aside {
            max-height: 388px;
            max-width: 388px;
        }

        .img-aside-content,
        .aside-content {
            display: flex !important;
            justify-content: center;
            flex-direction: column;
        }

        .music-content:hover {
            background-color: #8f2c8fa8; /* or any color you prefer */
        }

        .music-content:active {
            background-color: black;
        }
    </style>
}

<div class="d-flex container-fluid content">
    <div class="content main-content">
        <div>
            <h1 style="color:white">Hello World</h1>
            <p>
                John Doe John Doe John Doe John Doe John Doe John Doe John Doe
                John Doe John Doe John Doe John Doe John Doe John Doe
                John Doe John Doe John Doe John Doe John Doe John Doe John Doe
            </p>
            <div class="main-content-music row">

                <form id="albumForm">
                    <input type="text" id="txtAlbumName" placeholder="Album Name">
                    <input type="text" id="txtAlbumArtist" placeholder="Artist Name">
                    <input type="file" id="fileAlbumImage" placeholder="Image URL">
                    <img id="albumImagePreview" src="#" alt="Album Image Preview" style="display: none; width: 168px; height: 168px;" />
                    <button type="button" onclick="saveAlbum()">Save Album</button>
                </form>
                <hr />
                <form id="songForm">
                    <input type="text" id="txtSongAlbumId" placeholder="Album ID">
                    <input type="text" id="txtSongArtist" placeholder="Artist Name">
                    <input type="text" id="txtSongName" placeholder="Song Name">
                    <input type="file" id="fileSongFile" placeholder="File URL">
                    <audio id="audiocontrolPreview" controls style="display: none;">
                    <source id="songAudioPreview" src="#" type="audio/mp3" />
                   

                    Your brownser does not support this audio elemento</audio>
                    <input type="text" id="txtSongGenres" placeholder="Genres">
                    <input type="file" id="fileSongImage" placeholder="Song Image URL">
                    <img id="songImagePreview" src="#" alt="Song Image Preview" style="display: none; width: 168px; height: 168px; " />
                    <button type="button" onclick="saveSong()">Save Song</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#fileSongFile').change(function (e) {
                var file = e.target.files[0];
                var url = URL.createObjectURL(file);

                $('#songAudioPreview').attr('src', url);
                $('#audiocontrolPreview')[0].load(); // Reload audio player to apply the new source
                $('#audiocontrolPreview').show();
            
            });

         
            $('#fileAlbumImage').change(function () {
                showPreview(this, '#albumImagePreview','image');
            });

            $('#fileSongImage').change(function () {
                showPreview(this, '#songImagePreview','image');
            });
        });

        
        function showPreview(input, previewSelector, type) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    if (type === 'image') {
                        $(previewSelector).attr('src', e.target.result);
                        $(previewSelector).show();
                    }
                }

                reader.readAsDataURL(input.files[0]);

            }
        } 

        function saveAlbum() {
            var formData = new FormData();
            formData.append("AlbumName", $("#txtAlbumName").val());
            formData.append("ArtistName", $("#txtAlbumArtist").val());
            formData.append("AlbumImage", $("#fileAlbumImage")[0].files[0]);

            $.ajax({
                url: '@Url.Action("CreateAlbum", "Spot")',
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                success: function (result) {
                    alert('Album saved successfully');
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        function saveSong() {
            var formData = new FormData();
            formData.append("AlbumId", $("#txtSongAlbumId").val());
            formData.append("ArtistName", $("#txtSongArtist").val());
            formData.append("SongName", $("#txtSongName").val());
            formData.append("SongFile", $("#fileSongFile")[0].files[0]);
            formData.append("SongGenres", $("#txtSongGenres").val());
            formData.append("SongImage", $("#fileSongImage")[0].files[0]);

            $.ajax({
                url: '@Url.Action("CreateSong1", "Spot")',
                contentType:false,
                type: 'POST',
                processData: false,
                data: formData,
                success: function (result) {
                    alert('Song saved successfully');
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    </script>
}
